{
    # Host
    host = "";
    hostname = "";
    domain = "";

    # Locale
    locale = {
      timezone = "America/Vancouver";
      charset = "en_US.UTF-8";
    };

    # User
    username = "";
    fullname = "";

    # Git configuration
    git = {
        user = "";
        email = "";
    };

    # Feature toggles
    flags = {

    };
}
